table {
  width: 400px;
  color: #585858;
}

h1 {
  color: #e1927d;
  padding: 5px;
}

th, caption {
  text-align: left;
}

table, th, td {
  border: 1px solid #000;
  border-collapse: collapse;
}

caption {
  padding: 5px;
}

th,td {
  padding:7px;
}

tr:nth-child(even) {
  background-color: white
}

tr:nth-child(odd) {
  background-color: #f9d8bc;
}
